/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

body {
  font: 16px Verdana sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

nav img {
  position: relative;
  height: 60px;
  width: 120px;
  margin: 20px 30px;
} 

.fa {
    visibility: hidden;
}

.navline {
  visibility: hidden;
}

nav .links {
  list-style: none;
}



/* Iteration one */
@media screen and (max-width: 768px) {
  
  body {
    font: 16px Verdana sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.5;
  }
  
  nav {
    overflow: hidden;
    position: fixed;
    background: white;
    z-index: 2;
  }

.fa, img {
  width: 100%;
}
  .fa {
    position: relative;
    visibility: visible;
    margin: 30px 30px;
    float: right;
    cursor: pointer;
    width: 20%;
  }

  .navline {
    visibility: visible;
    width: 100%;
    color: #5b5e6d;
  }

nav .links {
    display: none;
  }

  nav img {
     float: left;
     height: 60px;
     width: 25%;
     margin: 20px 30px;
  } 
  
  .header {
    width: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
  }
  
 .sign h1 {
    font-weight: 900;
    position: relative;
    top: 80px;
      color: #2C303F;
  }

   .sign {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 20px 40px;
  }

  .sign p {
    color: #5b5e6d;
    position: relative;
    top: 80px;
  }

 .header img {
   position: relative;
   top: 70px;
   
 }

 .form {
   display:flex;
  align-items: center;
   flex-direction: column;
   width:100%;
      color: #5b5e6d;
    position: relative;
    top: 80px;
 }
 .form input, button {
   flex-grow: 1;
   width: 100%;
   height: 25px;

 }

 input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

 .form button {
   background-color: #0066CC;
  border-radius: 7px;
  height: 38px;
 }

 .mainflex {
  display: flex;
  align-items:center;
  flex-direction: column;

  width: 100%;
}

.main-container {
  display: flex;
   align-items: center;
   flex-direction: column;
   margin: 40px 0px;
   background-color: #F4F3F4;
   padding: 20px
}

.main-container p {
  color: #5b5e6d;
}

.main-container h2 {
  color: #2C303F;
  font-weight: 900;
}
 .main-container button {
  background-color: #fff;
  border-radius: 7px;
  width: 100%;
  height: 70px;
  color: blue;
  font-size: 20px;
 }
 
.images {

        display: flex;
        flex-wrap: wrap;
          align-items: center;
        flex-direction: column;

}

.images img {
     margin: 20px;
          width: 48%;
          padding: 33px;
}

.image {
  width: 0%;
  border-bottom: 2px solid grey;
}

.gstarted {
  
        display: flex;
   align-items: center;
   flex-direction: column;
}


.try {
  font: 22px solid black;
  font-weight: 900;
}

#form2 {
  display:flex;
  align-items: center;
   flex-direction: column;
   width:88%;
    color: #5b5e6d;
    position: relative;
    top: 0px;
}

footer img {
  position: relative;
  margin: -20px;
  top: -10px;
   height: 140px;
   width: 170px;

}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  /* border: 1px solid silver; */
  display: flex;
}
/* 
.nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
} */

/* .flex-item {
  background: tomato;
  padding: 5px;
  width: 50%
  height: 30px;
  margin: 10px;
  
  line-height: 15px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
} */

.flex-container {

   justify-content: space-around;
/*    padding: 10px;
   margin: 20px 40px; */
   flex-direction: column;
}

.litems li {
    flex: 0 0 auto;
/*      flex-direction: row; */
}
}




